<div class="ui menu">
    <div class="ui container">
        <a href="#" class="header item">
            <img class="logo" src="../assets/images/logo.png">
        </a>
        <div class="header item borderless">
            <h1 class="ui header">
                Angular 2 Simple App
            </h1>
        </div>
    </div>
</div>
<div class="ui text container">
    <form class="ui large form segment">
        <h3 class="ui header">Add a Link</h3>
        <div class="field">
            <label for="title">Title:</label>
            <input id="title" name="title" #newtitle>
        </div>
        <div class="field">
            <label for="link">Link:</label>
            <input id="link" name="link" #newlink>
        </div>
        <button (click)="addArticle(newtitle, newlink)"
                class="ui positive right floated button">
            Submit Link
        </button>
    </form>
    
    <div class="ui grid posts">
        <ng2cli-article
            *ngFor="let article of sortedArticles()"
            [article]="article">
        </ng2cli-article>
    </div>
</div>
